/* CSS HEX */
:root{
  --black: #060505ff;
  --fuzzy-wuzzy: #c7726f;
  --redwood: #9b5954ff;
  --old-burgundy: #4b302f;
  --dark-sienna: #220909;

  --oxford-blue: #0a122aff;
  --maximum-green: #698f3fff;
  --white: #fbfaf8ff;
  --bone: #e7decdff;
  --tuscan-red: #804e49;  

  
}

span{
  font-size: 20px;
}
@media only screen and (min-width: 600px) {

  html{
    font-size: 18px;
  }

  span{
    font-size: 40px;
  }

}

h2{
  margin-block-start: 0px;
  margin-block-end:  0px;
}

html {
  text-align: center;
  background-color: var(--old-burgundy);
  color: rgb(88, 90, 92);
  font-weight: bold;
}


.App{
  color: white;
  background-color: var(--old-burgundy);
}

header{
  display: flex;
  justify-content: center;
  background-color: var(--dark-sienna);
  color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  /* padding-right: 10%;
  padding-left: 10%; */
}

.headerChild{
  flex-grow: 1;
  margin-bottom: 0px;
}

.logoutButton{
  padding: 0px;
  border-radius: 15px;
  width:  5rem;
  height: auto;
  margin-bottom: 0px;
}

.inputContainer{
  
  margin-top: 40%;
  
}

.loginlogoutbuttonContainer{
  margin-top: 10%;
}

.loginlogoutButton{
  padding: 0px;
  border-radius: 15px;
  width:  5rem;
  height: auto;
  margin-bottom: 0px;
  margin: 10px;
  
}

.title{
  flex-grow: 4;

  margin-bottom: 0px;
}

.usersName{
  flex-grow: 1;

  margin-bottom: 0px;
}

.input-search{
  padding: 0.5rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 20px;
  border-style: none;
  padding: 10px;
  letter-spacing: 2px;
  outline: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}

.modal-input-search{
  padding: 0.5rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 20px;
  border-style: none;
  padding: 10px;
  letter-spacing: 2px;
  outline: none;
  color: var(--black);
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}

::placeholder{
  color: white;
  opacity: 0.5;
}

button{
  padding: 0.5rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: none;
  letter-spacing: 1px;
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
  height: auto;
  width: auto;
  border-radius: 15px;
  background-color: var(--tuscan-red);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;

}

button:hover{
  background-color: rgb(75, 27, 0);
}

button:active{
  background-color: rgb(51, 19, 0);
}



/* CSS for NAV */
#navFlex{
  position: fixed;
  bottom: 0;
  width: 100%;
}
#navFlex ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: var(--dark-sienna);
}

#navFlex li{
  font-weight: bold;
  flex-grow: 1;
}

#navFlex li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navFlex li a:hover{
  background-color:#1d1d1d;
}  

/* CSS for Leaderboard */

.leaderboardList{
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}

.leaderboardChild{
  flex-grow: 1;
  width: 100%;
}

.userPosition{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.userTasksCompleted{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.userName{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.leaderboardHeader{
  display: flex;
}

.leaderboardHeaderChild{
  flex-grow: 1;
  width: 100%;
}

.first{
  background-color: gold;
}

.second{
  background-color: silver;
}

.third{
  background-color: rgb(75, 27, 0);
}

.bottom{
  background-color: var(--old-burgundy)
}

/* Css for Profile Page */

.profileContainer{
  display:inline-block;
  background-color: var(--fuzzy-wuzzy);
  width: 90%;
  margin: 5%;
  padding: 5%;
  border-radius: 15px;  
}

.profileHeader{
  display: flex;
}

.profileHeaderChild{
  flex-grow: 1;
  width: 100%;
}

.profileBody{
  display: flex;
}

.profileBodyChild{

}


.achievementHeader{

}

.achievementHeaderChild{

}

.achievementBody{

}

.achievementBodyChild{
  list-style-type: none;
  font-weight: bold;
  overflow:hidden;
  border-radius: 15px;
  margin: 0.25rem;
  background-color: var(--old-burgundy)
}


/* CSS for Task List */
.mainContainer{
  display:inline-block;
  background-color: var(--fuzzy-wuzzy);
  height: 80vh;
  width: 90%;
  margin: 5%;
  padding: 5%;
  border-radius: 15px;  
}

.dayTitle{
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.weekButton{
  padding: 0px;
  border-radius: 15px;
  width: 4rem;
  height: 2rem;
}



.taskList{
  padding-left: 0;
  border-radius: 15px;
}

.taskListEntry{
  font-weight: bold;
  overflow:hidden;
  border-radius: 15px;
  margin: 0.25rem;
}

.taskListEntryHome{
  background-color: var(--old-burgundy);
}

.taskListEntryDone{
  background-color: var(--old-burgundy);
  font-weight: bold;
  overflow:hidden;
  border-radius: 15px;
  margin: 0.25rem;
  background-color: var(--dark-sienna);
}

.done{
  text-decoration: line-through;
  opacity: 0.5;
}


